* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #ea0000;
    padding: 10px;
    margin-bottom: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}

nav :hover {
    color: #222;
}

td.todo {
    background-color: red;
}

td.doing {
    background-color: yellow;
}

td.done {
    background-color: green;
}